---
extends: default

rules:
  document-start: disable
  line-length:
    max: 999
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  key-duplicates: enable
  truthy:
    allowed-values: ['true', 'false', 'on']
  # https://github.com/adrienverge/yamllint/issues/141
  comments-indentation: disable
ignore: |
  .tox
